.header {
  display: flex;
  width: 100%;
  height: 90px;
  flex-direction: row;
  justify-content: space-between;
}

.logoPersonal {
  position: relative;
  top: 10px;
  left: 55px;
  font-size: 1.7rem;
  color: white;
  transition: 0.7s;
}

.colorLogo {
  color: white;
  font-size: 15px;
}

.logoPersonal:hover {
  transition: 0.7s;
  transform: scale(1.1);
}

.nav {
  position: relative;
  top: 1.4rem;
  right: 2.7rem;
}

.list {
  list-style: none;
  display: flex;
}

.item {
  margin-right: 15px;
  color: white;
}

.item:hover {
  border-bottom: 2px solid #0099ff;
}

/* ------------------------------------------------- Responsive --------------------------------------------------*/

@media (max-width: 730px) {
  .nav {
    display: none;
  }

  .logoPersonal {
    left: 35px;
  }

  .logoPersonal:hover {
    transition: 0.7s;
    transform: scale(1.03);
  }
}
