.index {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("../public/images/fondo.jpeg");
  background-size: 100% 100vh;
}

.welcome {
  display: flex;
  flex-direction: column;
  height: auto;
  color: white;
  font-size: 1.65rem;
  margin: 11rem 3.5rem;
}

.intro {
  margin-top: 30px;
  font-size: 1.1rem;
  line-height: 15px;
}

.title {
  margin-top: 0px;
}

.carreraE:hover {
  color: #0099ff;
  border-bottom: 2px solid #0099ff;
}

.carreraU:hover {
  color: #ea5252;
  border-bottom: 2px solid #ea5252;
}

@media (max-width: 770px) {
  .intro p {
    line-height: 25px;
  }
}

@media (max-width: 730px) {
  .welcome {
    position: absolute;
    top: 10.5rem;
  }

  .welcome h1 {
    font-size: 2rem;
  }
}

@media (max-width: 560px) {
  .welcome {
    text-align: center;
  }
}

@media (max-width: 499px) {
  .welcome {
    text-align: center;
    width: 84vh;
  }
}

@media (max-height: 660px) and (max-width: 2000px) {
  .welcome {
    display: block;
    font-size: 20px;
    margin-top: 5rem;
  }
}

@media (max-height: 520px) and (max-width: 2000px) {
  .welcome {
    display: block;
    font-size: 20px;
    margin-top: 4rem;
  }
}

@media (max-height: 510px) and (max-width: 2000px) {
  .name {
    font-size: 2.5rem;
  }

  .title {
    font-size: 2.5rem;
  }

  .welcome {
    display: block;
    margin-top: 2rem;
    align-self: center;
    text-align: center;
  }
}

@media (max-height: 360px) and (max-width: 2000px) {
  .name {
    font-size: 20px;
  }

  .title {
    font-size: 20px;
  }

  .welcome {
    display: block;
    margin-top: 2rem;
    align-self: center;
    text-align: center;
  }
}

@media (max-height: 450px) and (max-width: 730px) {
  .name {
    font-size: 20px;
  }

  .title {
    font-size: 20px;
  }

  .welcome {
    display: block;
    margin-top: 0rem;
    align-self: center;
    text-align: center;
  }
}

@media (max-height: 420px) and (max-width: 730px) {
  .name {
    font-size: 20px;
  }

  .title {
    font-size: 20px;
  }

  .welcome {
    display: block;
    margin-top: -2rem;
    align-self: center;
    text-align: center;
  }

  .welcome h1 {
    font-size: 20px;
  }
}

@media (max-height: 340px) and (max-width: 730px) {
  .name {
    font-size: 20px;
  }

  .title {
    font-size: 20px;
  }

  .welcome {
    display: block;
    margin-top: -4rem;
    align-self: center;
    text-align: center;
  }

  .welcome h1 {
    font-size: 20px;
  }
}

@media (max-width: 499px) {
  .index {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("../public/images/fondo.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100vh;
  }

  .name {
    font-size: 3rem !important;
  }

  .title {
    font-size: 3rem !important;
  }

  .intro {
    font-size: 2rem;
  }

  .intro p {
    line-height: 3rem;
  }

  .welcome {
    text-align: center;
    width: 87vh;
    margin-top: 3rem;
  }
}
