.btnMenu {
  display: none;
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  right: 2rem;
  top: 2rem;
  cursor: pointer;
  color: #54a1ff;
}

.ImgMenu {
  width: 100% !important;
  height: 100% !important;
}

@media (max-width: 860px) {
  .btnMenu {
    display: block;
  }
}

@media (max-width: 499px) {
  .btnMenu {
    width: 4.5rem;
    height: 4.5rem;
  }
}
