.sidebar {
  display: none;
  position: absolute;
  top: 90px;
  width: 95%;
  height: 20rem;
  background-color: #666666;
  border-radius: 0.8rem;
  margin-left: 12px;
}

.nav {
  width: 65%;
  background-color: #666666;
  align-self: center;
}

.item {
  list-style: none;
  height: 50px;
  text-align: center;
  color: white;
  cursor: pointer;
}

/*------------------------------------------------------ Responsive -------------------------------------------------*/

@media (max-width: 730px) {
  .sidebar {
    display: flex;
    justify-content: center;
  }
}
