.visibleSidebar {
  display: none;
}

.sidebar {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #2c2c2c;
  text-align: center;
  border-radius: 0.8rem;
  margin: 50px 10px 10px 10px;
}

.sidebar ul {
  position: relative;
  right: 15px;
  list-style: none;
  width: auto;
  color: white;
}

.sidebar ul li {
  padding: 10px;
  border-radius: 0.2rem;
  transition: 0.2s;
}

.sidebar ul li:hover {
  transition: 0.2s;
  background-color: #0099ff;
  color: black;
}

.item {
  cursor: pointer;
}

/*------------------------------------------------------ Responsive ------------------------------------------------- */

@media (min-width: 730px) {
  .sidebar {
    display: none;
    justify-content: center;
  }
}
