.sidebar {
    display: none;
}

.nav {
    position: absolute;
    right: 0;
    top: 100;
    width: 100vw;
    height: auto;
    background-color: white;
}

.item {
    width: 100%;
    list-style: none;
    height: 50px;
    text-align: center;
}

.img {
    position: absolute;
    width: 40px;
    height: 40px;
    background: url(../public/images/menu.png) no-repeat;
    margin: 5px;
}
/*------------------------------------------------------ Responsive -------------------------------------------------*/

@media (max-width: 730px){
   .sidebar {
        display: none;
   }
}