.contentScrollTop {
  display: block;
}

.anchorScrolltop {
  position: fixed;
  bottom: 50px;
  right: -5px;
  width: 50px;
  height: 50px;
}

.imgScrollTop {
  width: 2rem;
}

/* ----------------------------------------------------- Responsive --------------------------------------------------*/

@media (max-width: 712px) {
  .anchorScrolltop {
    right: -15px;
  }
}
