.sectionSkills {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sectionSkillsFront {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contentFrontSkills {
    width: auto;
    position: relative;
    margin-top: 4.5rem;
    margin-right: 12rem;
}

.contentFrontSkills ul {
    list-style-type: none;
    line-height: 1.8rem;
}

.titleFront {
    width: auto;
    font-family: 'Playball', cursive;
    font-size: 7rem;
    position: relative;
    margin-top: 10px;
    margin-left: 10rem;
}

.sectionSkillBack {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.contentBackSkills {
    width: auto;
    position: relative;
    margin-top: 9.5rem;
    margin-left: 5rem;
}

.contentBackSkills ul {
    list-style-type: none;
    line-height: 1.8rem;
}

.titleBack {
    width: auto;
    font-family: 'Azeret Mono', monospace;
    font-size: 6.1rem;
    letter-spacing: -4px;
    position: relative;
    margin-top: 100px;
    margin-right: 10rem;
}










