/*-------------------------------------------------- Estilos sección Académico ------------------------------------------------------*/

.section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 66px;
}

.contenedorImagen {
    width: auto;
    height: auto;
    margin-right: 50px;
    margin-left: 40px;
}

.img {
    width: 17rem;
    height: 16rem;
    border-radius: 100%;
}

.fig {
    text-align: center;
    margin-top: 15px;
    font-style: italic;
    color: grey;
}

.contenedorParrafo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50rem;
    text-align: justify;
    margin-right: 60px;
}

.parrafo {
    line-height: 24px;
    margin-top: 0px;
}

.link {
    color: #3499E0;
    transition: .6s;
}

.link:hover {
    color: blueviolet;
    transition: .6s;
}

.noStrong {
    font-weight: lighter;
}

.titleSectionAcademico {
    font-size: 5rem;
    margin-top: 0rem;
    margin-bottom: 1.5rem;
    margin-left: 2.5rem;
}


/* ------------------------------------------------------ Estilos sección Laboral ---------------------------------------------------- */

.contenedorParrafoLaboral {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50rem;
    text-align: justify;
    margin-left: 0.5rem;
}

.titleSectionLaboral {
    font-size: 5rem;
    margin-top: 0rem;
    margin-bottom: 1.5rem;
    margin-left: 6.5rem;
}

.parrafoLaboral {
    line-height: 24px;
    margin-top: 0px;
    margin-left: 4rem;
}

.contenedorImagenLaboral {
    width: auto;
    height: auto;
    margin-right: 2rem;
    margin-left: 4rem;
}

.imgLaboral {
    width: 25rem;
    height: 25rem;
}