.button {
  width: 9rem;
  height: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: black;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  background: #0099ff;
  margin: 25px 35px 0 0;
}

.contentItems {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.incompleteEnglish::after {
  content: "IN";
  color: black;
  display: block;
}

.completeEnglish::after {
  content: "INGLÉS";
  color: black;
  display: block;
}

.incompleteSpanish::after {
  content: "SP";
  color: black;
  display: block;
}

.completeSpanish::after {
  content: "SPANISH";
  color: black;
  display: block;
}

.button,
.button span {
  transition: 200ms;
}

.button .text {
  transform: translateX(35px);
  color: white;
  margin-left: -25px;
}

.button .icon {
  position: absolute;
  border-left: 1px solid black;
  transform: translateX(85px);
  height: 40px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background: #0099ff;
}

.button:hover .text {
  color: transparent;
}

.button:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(60px);
}

.button:focus {
  outline: none;
}

@media (max-width: 730px) {
  .button {
    position: relative;
    left: 12rem;
    display: flex;
    justify-content: center;
    width: 4rem;
    height: 2.5rem;
    margin-top: 1.95rem;
    transition: 0.5s;
  }

  .button:hover {
    background: #2aaaff;
    transition: 0.5s;
  }

  .button .text {
    display: none;
  }

  .button .icon {
    border-left: none;
    transform: translateX(0px);
  }

  .button:hover .icon {
    width: 150px;
    transform: 0;
    border-left: none;
    transform: translateX(0px);
  }

  .incompleteEnglish::after {
    content: "ING";
    color: black;
    display: block;
  }

  .completeEnglish::after {
    content: "ING";
    color: black;
    display: block;
  }

  .incompleteSpanish::after {
    content: "SPA";
    color: black;
    display: block;
  }

  .completeSpanish::after {
    content: "SPA";
    color: black;
    display: block;
  }
}

@media (max-width: 695px) {
  .button {
    left: 9rem;
  }
}

@media (max-width: 600px) {
  .button {
    left: 7rem;
  }
}

@media (max-width: 530px) {
  .button {
    left: 5rem;
  }
}
